// color
$primary-color: #50b490;
$primary-color-rgb: 115, 167, 31;
$primary-on-font-color: #fff;
$accent-color: #f7470e;
$accent-color-on-font-color: #fff;
$weak-color: #e9eb2e;
$main-font-color: #555;
$weak-font-color: #aaa;
$main-background-color: #fff;
$base-background-color: #f0f0f0;
$base-color: #f5f5f5;
$shadow-color: #777;
$gradient-color-start: $primary-color;
$gradient-color-end: $weak-color;
$box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
// margin
$form-parts-margin-bottom: 30px;

// font-size
$base-font-size: 14px;
$emphasis-font-size: 20px;

// mixin
@mixin center-flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin border-radius-box($color: $main-font-color) {
  border-radius: 4px;
  border: 1px solid $color;
}

@mixin form-box-style() {
  display: block;
  width: 300px;
  @include border-radius-box();
  box-sizing: content-box;
  padding: 25px;
  background-color: $main-background-color;
  color: $base-font-size;
}
