$primary-color: #55c500;
$primary-on-font-color: #fff;
$main-font-color: #333;
$main-background-color: #fff;
$gradient-color-start: #DCE35B;
$gradient-color-end: #45B649;
//$accent-color:

@mixin center-flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin border-radius-box() {
  border-radius: 4px;
  border: 1px solid $main-font-color;
}