flask
blueprint
Cerberus
Flask-RESTful
Flask-SQLAlchemy
Flask-SQLAlchemy-Session
Flask-Migrate
Flask-JWT
flask-cors
flask-script
flask_debugtoolbar
SQLAlchemy
mysqlclient
marshmallow
marshmallow-sqlalchemy